.skyblue {
    background: skyblue;
}

.box {
    min-height: 50px;
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    color: black;
    
  }

.small_img {
    height: 100px;
}

.med_img {
    height: 150px;
}

h1 {
    font-family: "Cooper Black";
    color: blue;
    font-size: 20px;
}

#background {
    background-color: lightgrey;
}

.navbar {
    background-color: whitesmoke;

}

.navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
}