.box {
    min-height: 50px;
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    color: black;
    border-radius: 5px;
    background-color: white;
  }

.small_img {
    height: 100px;
}

.med_img {
    height: 150px;
}

.lrg_img {
    height: 250px;
}

h1 {
    font-family: "Cooper Black";
    color: rgb(39, 184, 169);
    font-size: 20px;
}

#background {
    background-color: whitesmoke;
}

#navbar {
    background-color: white;

}

hr {
    border-color: grey;
}

.name_box {
    background-color: rgb(39, 184, 169);
    padding: 5px;
    margin-left: 40px;
}

h2 {
    color: white;
    font-family: "Cooper Black";
    font-size: 20px
}

.border {
    border-color: rgb(39, 184, 169);
    border-width: 10px;
}