.box {
    min-height: 50px;
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    color: black;
    border-radius: 5px;
    background-color: white;
  }

.drop_down_box {
    max-height: auto;
    max-width: auto;
    padding: 3px;
    z-index: 2;
}

@media (max-width: 800px) {
    .lrg_img {
        max-width: 100%;
        height: auto;
        width: auto;
        
    }
}


.small_img {
    height: 100px;
}

.med_img {
    height: 150px;
}

.lrg_img {
    height: 250px;
}

h1 {
    font-family: "Cooper Black";
    color: rgb(39, 184, 169);
    font-size: 30px;
}

h3 {
    font-family: "Cooper Black";
    color: rgb(39, 184, 169);
    font-size: 18px;
}

#background {
    background-color: whitesmoke;
}

#navbar {
    background-color: white;

}

hr {
    border-color: grey;
}

.name_box {
    background-color: rgb(39, 184, 169);
    padding: 5px;
    margin-left: 40px;
}

h2 {
    color: white;
    font-family: "Cooper Black";
    font-size: 20px
}

h6 {
    font-size: 11px;
    font-family: "Verdana";
}

.border {
    border-color: rgb(39, 184, 169) !important;
    border-style: solid !important;
    border-width: 5px !important;
}

.image-box {
    width: 160px;
    height: 110px;
    background: white;
}

.clicker {
    outline:none;
    cursor:pointer;
    }
    
    .hiddendiv{
    display:none;
    }
    
    .clicker:focus + .hiddendiv{
    display:block;
    
    }

.comparison_box {
    min-height: auto;
    padding: 30px;
    margin: 5px;
    background-color: white;
    position: relative;
}

.comparison_pic {
    margin: 10pz;
}